* {
    box-sizing: border-box;
}

:root {
    --primary-color: #1ebfc1;
    --font-color: #0d1111;
    --primary-font: Poppins;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    color: var(--font-color);
    font-size: 1.6rem;
    font-family: var(--primary-font, sans-serif);
}

/* COMMON */
a {
    color: var(--font-color);
    text-decoration: none;
}

.content {
    width: 1171px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 186px;
    padding: 20px 41px 21px;
    border-radius: 14px;
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.line-clamp {
    display: -webkit-box;
    line-clamp: var(--line-clamp, 2);
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.row {
    display: flex;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2.title {
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 5.6rem; /* 133.333% */
}

/* HEADER */

.header {
    position: sticky;
    z-index: 9999;
    top: -42px;
    padding-top: 42px;
    background: #fff;
}

.header .navbar {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.header .navbar ul {
    display: flex;
    margin-left: 20%;
}

.header .navbar ul li:not(:first-child) {
    margin-left: 39px;
}

.header .navbar ul li a {
    color: #2f3a3b;
    font-size: 1.6rem;
    font-weight: 400;
}

.header .navbar ul li a:hover {
    text-decoration: underline;
}

.header .navbar ul li:first-child a {
    font-weight: 600;
}

.header .navbar .action {
    margin-left: auto;
}

.header .navbar .sign-in {
    margin-right: 24px;
    color: #494949;
    font-size: 1.6rem;
    font-weight: 400;
}

.header .navbar .sign-in:hover {
    margin-right: 23px;
    font-weight: 600;
}

.header .navbar .btn {
    color: var(--primary-color);
    min-width: 108px;
    padding: 12px 24px;
    background: #fff;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
}

.header .navbar .btn:hover {
    color: #fff;
    background: var(--primary-color);
    border: 1px solid #fff;
}

/* HERO */

.hero {
    padding: 40px 0 79px;
}

.hero .content {
    display: flex;
    justify-content: space-between;
}

.hero .info-block {
    max-width: 39.1%;
}

.hero .info-block .first-line {
    margin-top: 93px;
    color: #767e7e;
    font-size: 1.4rem;
    font-weight: 400;
}

.hero .info-block .title {
    margin-top: 18px;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 7.2rem; /* 116.129% */
}

.hero .info-block .desc {
    word-wrap: break-word;
    margin-top: 46px;
    max-width: 81.65%;
    color: #9da6a5;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.2rem; /* 177.778% */
}

.hero .info-block .desc span {
    white-space: nowrap;
}

.hero .info-block .row {
    margin-top: 52px;
}

.hero .info-block .icon {
    color: var(--primary-color);
    margin-left: 50px;
    width: 62px;
    height: 62px;
    border-radius: 99px;
    box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.hero .info-block .icon:hover {
    color: #fff;
    background: var(--primary-color);
}

.hero .img-block {
    position: relative;
}

.hero .img-block .image {
    width: 576px;
    height: 631px;
    background: #e0f7f6;
}

.hero .img-block .img-info {
    position: absolute;
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
}

.hero .img-block .img-info1 {
    top: 149px;
    left: -40px;
    align-items: center;
    padding: 17px 25px 18px;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .img-block .img-info1 .book {
    width: 36px;
    height: 40px;
    position: relative;
}

.hero .img-block .img-info1 .book .line {
    position: absolute;
    bottom: 8px;
    left: 4px;
}

.hero .img-block .img-info1 p {
    margin-left: 16px;
    width: 55px;
}

.hero .img-block .img-info2 {
    flex-direction: column;
    align-items: center;
    bottom: 46px;
    left: -65px;
    padding: 16px 25px 23px;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .img-block .img-info2 .grey-line {
    margin-top: 12px;
    width: 74px;
    height: 6px;
    background: #edf1f5;
    border-radius: 99px;
}

.hero .img-block .img-info2 .grey-line.first {
    margin-top: 16px;
}

.hero .img-block .img-info2 .grey-line.last {
    margin-top: 16px;
    width: 26px;
}

.hero .img-block .img-info2 .color-line {
    width: 39px;
    height: 6px;
    background: #fb9899;
    border-radius: 99px;
}

.hero .img-block .img-info2 .color-line2 {
    width: 50px;
}

.hero .img-block .img-info2 .color-line3 {
    width: 30px;
}

.hero .img-block .img-info3 {
    flex-direction: column;
    bottom: 41px;
    right: 45px;
    padding: 17px 35px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .img-block .img-info3 .subscribers {
    display: flex;
    margin-top: 8px;
}

.hero .img-block .img-info3 img {
    width: 33px;
    height: 33px;
    object-fit: cover;
    border-radius: 99px;
}

.hero .img-block .img-info3 .icon {
    width: 33px;
    height: 33px;
    background-color: #1ebfc1;
    border-radius: 99px;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

.hero .img-block .img-info3 .subscribers * {
    margin-left: -7px;
}

.hero .img-block .img-info3 img.first {
    margin-left: 0;
}

/* FEATURE */

.feature {
    padding-top: 130px;
}

.feature .content {
    padding-right: 147px;
}

.feature .tag {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}

.feature .title {
    margin: 18px 0;
    max-width: 56.35%;
}

.feature .desc {
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
}

.feature .list {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.feature .item {
    max-width: 223px;
}

.feature .item:first-child {
    max-width: 170px;
}

.feature .item .sub-title {
    margin-top: 26px;
    font-size: 2rem;
    font-weight: 600;
}

.feature .item .desc {
    margin-top: 16px;
    color: #9da6a5;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.7rem; /* 168.75% */
}

/* POPULAR */

.popular {
    padding-top: 130px;
}

.popular .tag {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}

.popular .title {
    margin-top: 18px;
}

.popular .row {
    align-items: center;
    justify-content: space-between;
}

.popular .row .desc {
    max-width: 44.8%;
    margin-top: 19px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.2rem; /* 177.778% */
}

.popular .row a {
    color: #1ebfc1;
    font-size: 1.4rem;
    font-weight: 700;
}

.popular .row a:hover {
    text-decoration-line: underline;
}

.popular .list {
    display: flex;
    justify-content: space-between;
    margin-top: 79px;
}

.popular .item {
    width: 30.66%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popular .item .image {
    width: 100%;
    height: 393px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    opacity: 0.7;
    background: #d0efed;
}

.popular .item a {
    display: inline-block;
    width: 90.53%;
    z-index: 1;
}

.popular .item .course-info {
    margin-top: -71px;
    padding: 18px 25px 29px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.popular .item .course-info:hover {
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.1);
}

.popular .course-info .sub-title {
    font-size: 2.2rem;
    font-weight: 700;
}

.popular .course-info .desc {
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
}

.popular .course-info .fee {
    margin-top: 16px;
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
}

.popular .course-info .fee strong {
    color: var(--font-color);
    font-size: 2.2rem;
    font-weight: 700;
    line-height: normal;
}

.popular .course-info > .desc {
    margin-top: 6px;
}

.popular .course-info .row {
    margin-top: 18px;
    justify-content: flex-start;
}

.popular .course-info .row .desc {
    margin-top: 0px;
    padding: 0 10px;
}

.popular .course-info .row .point {
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #1ebfc1;
    border-radius: 99px;
}

/* STATS */

.stats {
    padding: 265px 0;
}

.stats .content {
    display: flex;
    justify-content: center;
    gap: 200px;
    text-align: center;
}

.stats strong {
    font-size: 6.2rem;
    font-weight: 700;
    line-height: normal;
}

.stats .desc {
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
}

/* FEEDBACK */

.feedback {
    padding: 37px 0 167px;
}

.feedback .content {
    display: flex;
}

.feedback .content .fb-block {
    width: 35.9%;
}

.feedback .content .face-pics {
    width: 64.1%;
}

.feedback .fb-block .list {
    width: 100%;
    display: flex;
    overflow: hidden;
}

.feedback .fb-block .item {
    width: 100%;
    flex-shrink: 0;
}

.feedback .fb-block .item blockquote {
    margin-top: 27px;
    color: #5d6564;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 4.8rem; /* 150% */
}

.feedback .item .row {
    align-items: center;
    margin-top: 33px;
}

.feedback .item .hyphen {
    width: 8px;
    height: 2px;
    background: #070707;
}

.feedback .item .author {
    margin-left: 5px;
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
}

.feedback .item .author span {
    color: #070707;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: normal;
}

.feedback .fb-block .row-btn {
    margin-top: 52px;
}

.feedback .fb-block .icon {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 99px;
    background: #2ac9bf;
}

.feedback .fb-block .icon:hover {
    cursor: pointer;
    opacity: 0.8;
}

.feedback .fb-block .icon:first-child {
    margin-right: 30px;
}

.feedback .face-pics {
    position: relative;
}

.feedback .face-pics img {
    position: absolute;
    border-radius: 999px;
    object-fit: cover;
    object-position: center;
}

.feedback .face-pics .face1 {
    width: 92px;
    height: 92px;
    top: -37px;
    right: 444px;
}

.feedback .face-pics .face2 {
    width: 110px;
    height: 110px;
    top: -18px;
    right: 0;
}

.feedback .face-pics .face3 {
    width: 235px;
    height: 235px;
    top: 70px;
    right: 172px;
}

.feedback .face-pics .face4 {
    width: 78px;
    height: 78px;
    top: 258px;
    right: 602px;
}

.feedback .face-pics .face5 {
    width: 78px;
    height: 78px;
    top: 403px;
    right: 390px;
}

.feedback .face-pics .face6 {
    width: 78px;
    height: 78px;
    top: 374px;
    right: 33px;
}

/* READY */

.ready {
    padding: 76px 0 88px;
    background: #def6f5;
}

.ready .content {
    display: flex;
    align-items: center;
}

.ready .title {
    color: #070707;
}

.ready .desc {
    margin-top: 18px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
}

.ready .btn {
    margin-left: 410px;
}
